#!/usr/bin/make -f

export DH_VERBOSE=1

export EPICS_HOST_ARCH:=$(shell /usr/lib/epics/startup/EpicsHostArch)

export SHRLIB_VERSION=1

# Defines MDIR and OCTDIR
include /usr/share/octave/debian/defs.make

%:
	dh --with epics -Sepicsmake $@
binary: binary-arch binary-indep
binary-arch binary-indep: install
install: build

override_dh_auto_clean:
	ln -sf /usr/lib/epics/extensions/configure .
	dh_auto_clean
	rm -f configure
	rm -rf bin include lib
	rm -rf Matlab/O.$(EPICS_HOST_ARCH)
	rm -f Matlab/*.o Matlab/ArchiveData.m
	rm -f *.1

override_dh_auto_build:
	ln -sf /usr/lib/epics/extensions/configure .
	dh_auto_build -- SHARED_LIBRARIES=YES STATIC_BUILD=NO

	make -C Matlab octave HOST_ARCH=Linux EPICS_HOST_ARCH=$(EPICS_HOST_ARCH) MKOCTFILE=mkoctfile

	pod2man --section=1 DataTool/ArchiveDataTool.pod > ArchiveDataTool.1
	pod2man --section=1 Engine/ArchiveEngine.pod > ArchiveEngine.1
	pod2man --section=1 Export/ArchiveExport.pod > ArchiveExport.1
	pod2man --section=1 IndexTool/ArchiveIndexTool.pod > ArchiveIndexTool.1
	pod2man --section=1 -n ArchiveIndexMakeConfig IndexTool/make_indexconfig.pl > ArchiveIndexMakeConfig.1
	pod2man --section=1 Manager/ArchiveManager.pod > ArchiveManager.1
	pod2man --section=1 XMLRPCServer/ArchiveDataClient.pl > ArchiveDataClient.1

override_dh_auto_install:
	dh_auto_install -- SHARED_LIBRARIES=YES STATIC_BUILD=NO

	# take binaries from the top dir
	rm -rf debian/tmp/usr/lib/epics/bin

	install -d debian/tmp/usr/bin
	install -m 755 -t debian/tmp/usr/bin bin/$(EPICS_HOST_ARCH)/ArchiveEngine
	install -m 755 -t debian/tmp/usr/bin bin/$(EPICS_HOST_ARCH)/ArchiveManager
	install -m 755 -t debian/tmp/usr/bin bin/$(EPICS_HOST_ARCH)/ArchiveIndexTool
	install -m 755 -t debian/tmp/usr/bin bin/$(EPICS_HOST_ARCH)/ArchiveDataTool
	install -m 755 -t debian/tmp/usr/bin bin/$(EPICS_HOST_ARCH)/ArchiveExport
	install -m 755 ExampleSetup/ArchiveDaemon.pl debian/tmp/usr/bin/ArchiveDaemon
	install -m 755 bin/$(EPICS_HOST_ARCH)/make_indexconfig.pl debian/tmp/usr/bin/ArchiveIndexMakeConfig
	install -m 755 bin/$(EPICS_HOST_ARCH)/ArchiveDataClient.pl debian/tmp/usr/bin/ArchiveDataClient

	install -d debian/tmp/usr/share/channelarchiver
	install -m 755 -t debian/tmp/usr/share/channelarchiver contrib/*.sh

	install -d debian/tmp/etc/channelarchiver
	install -d debian/tmp/etc/channelarchiver/example
	install -m 644 -t debian/tmp/etc/channelarchiver contrib/daemon.conf
	install -m 644 -t debian/tmp/etc/channelarchiver/example contrib/example/*

	install -d debian/tmp/etc/init.d
	install -m 755 -t debian/tmp/etc/init.d contrib/channelarchiver

	install -d debian/tmp/usr/lib/cgi-bin
	install -m 755 bin/$(EPICS_HOST_ARCH)/ArchiveDataServer \
debian/tmp/usr/lib/cgi-bin/ArchiveDataServer.cgi

	install -d debian/tmp$(OCTDIR)
	install -m 644 -t debian/tmp$(OCTDIR) Matlab/O.$(EPICS_HOST_ARCH)/ArchiveData.oct

	install -d debian/tmp$(MDIR)
	install -m 644 -t debian/tmp$(MDIR) Matlab/util/*.m

	sed -e 's|^|%|' Matlab/ArchiveData.txt > Matlab/ArchiveData.m
	install -m 644 -t debian/tmp$(MDIR) Matlab/ArchiveData.m

override_dh_install:
	dh_install --fail-missing

override_dh_shlibdeps:
	dh_shlibdeps
	# This is an ugly hack which will go away when I figure out how to make dh_shlibdeps
	# realize that .oct files are shared libraries.
	dpkg-shlibdeps -Tdebian/octave-channelarchiver.substvars debian/octave-channelarchiver$(OCTDIR)/ArchiveData.oct

	# This places a post install hook which rebuild the octave package index
	/usr/share/octave/debian/dh/octave-pkg-helper -poctave-channelarchiver

	dh_installxmlcatalogs
